extends layout

block content
  link(rel='stylesheet', href='/css/scoreboard.css')
  .logo1
    img(src="/images/TEAM360_logos-09-256x256.png")
  .timer
  .logo2
    a(href="/control")
      img(src="/images/icon-256x256.png")
  .fighter-1-name
    input#fighter-1-name(
      type="text",
      placeholder="Luchador 1"
    )
  .fighter-2-name
    input#fighter-2-name(
      type="text",
      placeholder="Luchador 2"
    )
  .fighter-1-score 0
  .fighter-2-score 0
  .fighter-1-adv 0
  .fighter-1-penal 0
  .fighter-2-adv 0
  .fighter-2-penal 0
