html, body {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-template-rows: 2fr 1fr 6fr 3fr;
  font-family: 'Roboto Mono, monospace';
}

.logo1 {
  background-color: #000;
  grid-row-start: 1;
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo1 img, .logo2 img {
  height: 120px;
}

.timer {
  background-color: #000;
  grid-row-start: 1;
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 7em;
  font-weight: bold;
}

.logo2 {
  background-color: #000;
  grid-row-start: 1;
  grid-column: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighter-1-name {
  background-color: #22A203;
  color: #FCFF51;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-column: span 6;
}

.fighter-2-name {
  background-color: #fff;
  color: #000;
  font-size: 3em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-column: span 6;
}

.fighter-1-score {
  grid-row-start: 3;
  grid-column: span 6;
  background-color: #22A203;
  color: #fff;
  font-size: 16em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighter-2-score {
  grid-row-start: 3;
  grid-column: span 6;
  background-color: #fff;
  color: #000;
  font-size: 16em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fighter-1-adv {
  background-color: #FCFF51;
  color: #000;
  font-size: 6em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 4;
  grid-column: span 3;
}

.fighter-1-penal {
  background-color: red;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 4;
  grid-column: span 3;
}

.fighter-2-adv {
  background-color: #FCFF51;
  color: #000;
  font-size: 6em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 4;
  grid-column: span 3;
}

.fighter-2-penal {
  background-color: red;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 4;
  grid-column: span 3;
}

input#fighter-1-name {
  text-align: center;
  background-color: #22A203;
  color: #FCFF51;
  font-weight: bold;
  border: none;
  width: 80%;
}

input#fighter-2-name {
  text-align: center;
  font-weight: bold;
  border: none;
  width: 80%;
}

input#fighter-1-name::placeholder { /* Most modern browsers support this now. */
  color: #fff;
}

input#fighter-2-name::placeholder {
  color: #000;
}
